<div class="title">Playlists</div>
<hr>
<div class="content">
    <a routerLink="./{{ playlist.url }}" class="playlists" *ngFor="let playlist of playlists">
        <div class="playlist">
            <div class="box playlist-add">
                <i class="material-icons mdc-playlist_add-icon">playlist_play</i>
                <div class="playlist-title">{{ playlist.name }}</div>
            </div>
        </div>
    </a>
    <div class="playlists">
        <div class="playlist">
            <div class="box playlist-add">
                <i class="material-icons mdc-playlist_add-icon">playlist_add</i>
            </div>
        </div>
    </div>
</div>
