<div class="title">
  <div class="old-title">Playlists</div>
  <i class="material-icons old-title">navigate_next</i>
  <div class="new-title">My Playlist</div>
</div>
<hr>
<div class="filters">
  <div class="shuffle-filter"><i class="material-icons">shuffle</i>Shuffle all (3)</div>
  <div class="sort-by-filter"><i class="material-icons">reorder</i>Sort by: Date added</div>
</div>
<hr>
<div class="playlist">
  <div>
      <div class="music-row" *ngFor="let music of playlist">
          <div class="material-icons">play_arrow</div>
          <div class="music-name">{{ music.name }}</div>
      </div>
  </div>
</div>
