<div class="title">
  <a routerLink="./../" class="old-title">Playlists</a>
  <i class="material-icons old-title">navigate_next</i>
  <div class="new-title">My Playlist</div>
</div>
<hr>
<div class="filters">
  <div class="shuffle-filter"><i class="material-icons">shuffle</i>Shuffle all (3)</div>
  <div class="sort-by-filter"><i class="material-icons">reorder</i>Sort by: Date added</div>
</div>
<hr>
<div class="playlist">
  <div>
      <div class="music-row" *ngFor="let music of playlist">
          <div (click)="onPlay(music.id)" class="material-icons">play_arrow</div>
          <div class="music-name">{{ music.name }}</div>
          <div class="music-author">{{ music.author }}</div>
          <div class="music-year">{{ music.year }}</div>
          <div class="music-genre">{{ music.genre }}</div>
          <div class="music-time">{{ music.time }}</div>
          <div class="music-storage-type">{{ music.storageType }}</div>
      </div>
  </div>
</div>
