.player-container
  height: 120px

.play-controls
  display: flex
  height: 80px
  position: fixed
  bottom: 0px
  align-items: center
  z-index: 9999
  margin-bottom: 120px
  background-color: #444
  width: 100%

.play-controls div
  margin: 0 24px

.material-icons
  color: #FFFFFF
  font-size: 32pt
  cursor: pointer

.album-box
  width: 60px
  height: 60px
  background-color: white

.play-button:after
  content: "play_arrow"

.pause-button:after
  content: "pause"

.icon-expand-more
  margin-left: auto
  margin-right: 24px
