<div class="play-app">
  <mdc-toolbar
    [flexible]="isFlexible"
    [fixed]="isFixed"
    [waterfall]="isWaterfall"
    [fixedLastrow]="isFixedLastRow">
    <mdc-toolbar-row>
      <mdc-toolbar-section [alignStart]="true">
        <a
          href="#"
          class="material-icons mdc-toolbar__menu-icon"
          (click)="onDrawerClick($event)" role="navigation" style="display: block;">
          menu
        </a>
        <mdc-toolbar-title><span class="logo"><span class="first-part-logo">Play</span><span class="second-part-logo">Center</span></span></mdc-toolbar-title>
      </mdc-toolbar-section>
      <mdc-toolbar-section [alignEnd]="true">
        <div class="account-box">
          <i class="material-icons mdc-account_circle-icon">account_circle</i>
          <a routerLink="/login" class="login-title">Sign in</a>
        </div>
      </mdc-toolbar-section>
    </mdc-toolbar-row>
  </mdc-toolbar>

  <div class="content" fxlayout="row" style="flex-direction: row; box-sizing: border-box; display: flex;">
    <mdc-drawer fxhide=""
                fxshow.gt-sm="true"
                class="ng-mdc-drawer--persistent--fixed"
                [ngClass]="status ? 'mdc-drawer--open' : 'mdc-drawer--persistent'">
      <mdc-drawer-content class="mdc-drawer__content">
        <mdc-list-group class="mdc-list-group">
          <mdc-list class="mdc-list" role="list">

            <mdc-list-item routerlinkactive="" tabindex="0" id="mdc-list-item-15" class="mdc-list-item mdc-ripple-upgraded" role="listitem" style="--mdc-ripple-fg-size:134.4px; --mdc-ripple-fg-scale:1.77891;">
              <label><h2>Menu</h2></label>
            </mdc-list-item>

            <mdc-list-item routerLink="/home" routerlinkactive="" tabindex="0" id="mdc-list-item-15" class="mdc-list-item mdc-ripple-upgraded" role="listitem" style="--mdc-ripple-fg-size:134.4px; --mdc-ripple-fg-scale:1.77891;">
              <i class="material-icons">home</i>
              <label><h3>Home</h3></label>
            </mdc-list-item>

            <mdc-list-item routerLink="/settings" routerlinkactive="" tabindex="0" id="mdc-list-item-15" class="mdc-list-item mdc-ripple-upgraded" role="listitem" style="--mdc-ripple-fg-size:134.4px; --mdc-ripple-fg-scale:1.77891;">
              <i class="material-icons">settings</i>
              <label><h3>Settings</h3></label>
            </mdc-list-item>

          </mdc-list>
        </mdc-list-group>
      </mdc-drawer-content>
    </mdc-drawer>

    <div class="mdc-content">
      <router-outlet></router-outlet>
    </div>

  </div>

  <wave-surfer></wave-surfer>
</div>
