<div class="play-app">
  <mdc-toolbar
    [flexible]="isFlexible"
    [fixed]="isFixed"
    [waterfall]="isWaterfall"
    [fixedLastrow]="isFixedLastRow">
    <mdc-toolbar-row>
      <mdc-toolbar-section [alignStart]="true">
        <a
          href="#"
          class="material-icons mdc-toolbar__menu-icon"
          (click)="onDrawerClick($event)" role="navigation" style="display: block;">
          menu
        </a>
        <mdc-toolbar-title><span class="logo">Waveplayer</span></mdc-toolbar-title>
      </mdc-toolbar-section>
      <mdc-toolbar-section [alignEnd]="true">
        <div class="account-box">
          <i class="material-icons mdc-account_circle-icon">account_circle</i>
          <a routerLink="/login" class="login-title">Log in</a>
        </div>
      </mdc-toolbar-section>
    </mdc-toolbar-row>
  </mdc-toolbar>

  <div class="content" fxlayout="row" style="flex-direction: row; box-sizing: border-box; display: flex;">
    <mdc-drawer fxhide=""
                fxshow.gt-sm="true"
                class="ng-mdc-drawer--persistent--fixed"
                [ngClass]="status ? 'mdc-drawer--open' : 'mdc-drawer--persistent'">
      <mdc-drawer-content class="mdc-drawer__content">
        <div class="search-box"><i class="material-icons mdc-search-icon">search</i>Search ...</div>
        <ul class="navigation-box">
          <li><a routerLink="/home" routerLinkActive="navigation-element-active" class="navigation-element">Home</a></li>
          <li><a routerLink="/playlists" routerLinkActive="navigation-element-active" class="navigation-element">Playlists</a></li>
          <li><a routerLink="/settings" routerLinkActive="navigation-element-active" class="navigation-element">Settings</a></li>
        </ul>
      </mdc-drawer-content>
    </mdc-drawer>

    <div class="mdc-content">
      <router-outlet></router-outlet>
    </div>

  </div>

  <wave-surfer></wave-surfer>
</div>
