 <mdc-toolbar
  [flexible]="isFlexible"
  [fixed]="isFixed"
  [waterfall]="isWaterfall"
  [fixedLastrow]="isFixedLastRow"
  [mdc-elevation]="5">
  <mdc-toolbar-row>
    <mdc-toolbar-section [alignStart]="true">
      <a
        href="#"
        class="material-icons mdc-toolbar__menu-icon"
        (click)="onDrawerClick($event)" role="navigation" style="display: block;">
        menu
      </a>
      <mdc-toolbar-title>PlayCentre</mdc-toolbar-title>
    </mdc-toolbar-section>
    <mdc-toolbar-section [alignEnd]="true">
      <div class="account-box">
        <i class="material-icons mdc-account_circle-icon">account_circle</i>
        <span class="login-title">Login</span>
      </div>
    </mdc-toolbar-section>
  </mdc-toolbar-row>
</mdc-toolbar>

<div class="content" fxlayout="row" style="flex-direction: row; box-sizing: border-box; display: flex;">
  <mdc-drawer-persistent fxhide=""
                         fxshow.gt-sm="true"
                         class="ng-mdc-drawer--persistent--fixed mdc-elevation--z5"
                         [ngClass]="status ? 'mdc-drawer--open' : 'mdc-drawer--persistent'">
   <mdc-drawer-content class="mdc-drawer__content">
      <mdc-list-group class="mdc-list-group">
        <mdc-list class="mdc-list" role="list">
          <mdc-list-item routerlinkactive="" tabindex="0" id="mdc-list-item-15" class="mdc-list-item mdc-ripple-upgraded" role="listitem" style="--mdc-ripple-fg-size:134.4px; --mdc-ripple-fg-scale:1.77891;">
            <mdc-icon mdc-list-item-graphic="" aria-hidden="true" class="material-icons mdc-list-item__graphic">home</mdc-icon>Home
          </mdc-list-item>
          <mdc-list-divider><div class="mdc-list-divider" role="seperator"></div></mdc-list-divider>
        </mdc-list>
      </mdc-list-group>
    </mdc-drawer-content>
  </mdc-drawer-persistent>

  <div class="mdc-content">
    <playlist></playlist>
  </div>

</div>

<wave-surfer></wave-surfer>
